<template id="template-products">
  <div class="products__card">
    <div class="products__image">
      <img
        src=""
        alt="Café Irlandés"
        class="products__image"
        id="template-card-img"
      />
    </div>

    <div class="products__info">
      <h3 class="products__name" id="template-card-name"></h3>
      <p class="products__description" id="template-card-description"></p>

      <div class="products__info--purchase">
        <span class="products__price" id="template-card-price"></span>

        <button
          class="button__component products__button"
          id="template-card-button"
        >
          Agregar al Carrito
        </button>
      </div>
    </div>
  </div>
</template>
